<html>
<head>

    <style>
        body {
            background-color: #ffffff;
        }

        td {
            font-family: Arial;
            font-size: 10pt;
            color: #0085c8;
        }

        .tdHeading {
            font-family: Arial;
            font-size: 22pt;
            color: #0085c8;
        }

        .style1 {
            height: 19px;
        }
    </style>

    <title>AOA Application</title>
</head>

<body>
    <table width=100% border=0>
        <tr>
            <td><img src='cid:logo'></td>
            <td class="tdHeading" align=right>Password Reset</td>
        </tr>
        <tr><td colspan=2><hr></td></tr>

        <tr>
            <td>Dear ##FULLNAME##</td>
            <td align=right>##DATE##</td>
        </tr>
        <tr><td colspan=2>&nbsp;</td></tr>
        <tr>
            <td colspan=2>
                A password reset was requested for ##USERNAME##.
                Please click on this link <a href='##URL##'>RESET PASSWORD</a> to reset your password.
            </td>
            <tr>
                <td colspan=2><b>Please note this link is only valid for 48 hours.</b></td>
            </tr>
       
        <tr><td colspan=2>&nbsp;</td></tr>

        <tr><td colspan=2 class="style1"><p>Please contact us on <a href='mailto:support@artofalignment.com'>support@artofalignment.com</a> if you have any queries.</p></td></tr>

        <tr><td colspan=2>&nbsp;</td></tr>
        <tr><td colspan=2>Best regards,</td></tr>
        <tr><td colspan=2>&nbsp;</td></tr>
        <tr><td colspan=2>The AOA Team</td></tr>
        <tr>
            <td colspan=2 style="background-color:#FFFFFF;padding-top:25px;padding-bottom:25px"><hr></td>
        </tr>
        <tr>
            <td colspan=2 valign="top" bgcolor="#ffffff" style="font-size:8pt;color:#333333;line-height:110%;font-family: Calibri, Arial;padding-top:0px;padding-bottom:10px;padding-left:15px;padding-right:15px;">
                <p>
                    This message contains confidential information and is intended only for ##USERNAME##.
                    If you are not the named addressee you should not disseminate, distribute or copy this email.
                    Please note the company accepts no liability for the content of this email, or for the consequences of any actions taken on the basis of the
                    information provided, unless that information is subsequently confirmed in writing.
                    Please be advised that you should check this email and any attachments for the presence of viruses.
                    Our company accepts no liability for any damage caused by any virus transmitted by this email. ##DATE##
                </p>
                <p>
                    AOA Pty Ltd. <a href="https://artofalignment.com/" target="_blank" style="font-size:8pt;color:#0085c8;line-height:110%;font-family: Calibri, Arial;text-decoration:underline;">https://artofalignment.com/</a><br>
                </p>
            </td>
        </tr>
    </table>

</body>

</html>
